@font-face {
    font-family: abhayaLibre;
    src: url(fonts/AbhayaLibre-SemiBold.woff2);
}

@font-face {
    font-family: aboreto;
    src: url(fonts/Aboreto-Regular.woff2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

img[src*="unsplash"] {
    height: 100vh;
    width: 40vw;
}

.imgSidebar {
    font-family: aboreto, sans-serif;
}