@font-face {
    font-family: abhayaLibre;
    src: url(fonts/AbhayaLibre-SemiBold.woff2);
}

@font-face {
    font-family: aboreto;
    src: url(fonts/Aboreto-Regular.woff2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

img[src*="unsplash"] {
    height: 100vh;
    width: 40vw;
}

.imgSidebar {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 40vw;
    font-family: aboreto, sans-serif;
    background-color: hsla(0, 0%, 0%, 39%);
    color: white;
    padding: 0.5rem 0 0.8rem;
}

.imgSidebar > p:first-child {
    font-size: 2.65rem;
}

.logo {
    height: 6rem;
}

.imgSidebar > p > a:link {
    color: hsl(85.28deg 51.43% 72.55%);
}

.imgSidebar > p > a:visited {
    color: hsl(85deg 81.84% 40.76%);
}

.imgSidebar > p > a:hover {
    color: hsla(85, 100%, 50%, 0.49);
}

.imgSidebar > p > a:active {
    color: hsl(82.76deg 30.85% 55.34%);
}

.text {
    font-size: 2rem;
    /* Add margin-bottom to p inside of text */
}

.formCon {
    font-family: abhayaLibre, serif;
    width: 60vw;
    padding: 3rem 2rem;
    background-color: hsl(48, 80.65%, 93.92%);
}

.formInnerCon {
    display: flex;
    background-color: hsl(65.81, 28.7%, 42.35%);
    padding: .8rem 1.5rem 1.5rem;
    border-radius: 1rem;
}

.left, .right {
    display: flex;
    flex-flow: column;
}

input {
    font-family: abhayaLibre, serif;
    font-size: 1.5rem;
    background-color: hsl(48, 80.65%, 93.92%);
}

label {
    font-size: 1.8rem;
}

button {
    font-family: abhayaLibre, serif;
    font-size: 1.8rem;
    padding: .25rem .8rem;
    background-color: hsl(65.81, 28.7%, 42.35%);
    border-radius: .5rem;
}

label, button {
    color: hsl(48, 80.65%, 93.92%);
}